@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: 'GothamProBlack';
    src: url('../fnt/GothamProBlack.eot');
    src: url('../fnt/GothamProBlack.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProBlack.woff') format('woff'),
         url('../fnt/GothamProBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'GothamProBlackItalic';
    src: url('../fnt/GothamProBlackItalic.eot');
    src: url('../fnt/GothamProBlackItalic.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProBlackItalic.woff') format('woff'),
         url('../fnt/GothamProBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fnt/GothamProBold.eot');
    src: url('../fnt/GothamProBold.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProBold.woff') format('woff'),
         url('../fnt/GothamProBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}		

@font-face {
    font-family: 'GothamProBoldItalic';
    src: url('../fnt/GothamProBoldItalic.eot');
    src: url('../fnt/GothamProBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProBoldItalic.woff') format('woff'),
         url('../fnt/GothamProBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'GothamProItalic';
    src: url('../fnt/GothamProItalic.eot');
    src: url('../fnt/GothamProItalic.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProItalic.woff') format('woff'),
         url('../fnt/GothamProItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}		

@font-face {
    font-family: 'GothamProLight';
    src: url('../fnt/GothamProLight.eot');
    src: url('../fnt/GothamProLight.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProLight.woff') format('woff'),
         url('../fnt/GothamProLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'GothamProLightItalic';
    src: url('../fnt/GothamProLightItalic.eot');
    src: url('../fnt/GothamProLightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProLightItalic.woff') format('woff'),
         url('../fnt/GothamProLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}			

@font-face {
    font-family: 'GothamProMedium';
    src: url('../fnt/GothamProMedium.eot');
    src: url('../fnt/GothamProMedium.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProMedium.woff') format('woff'),
         url('../fnt/GothamProMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'GothamProMediumItalic';
    src: url('../fnt/GothamProMediumItalic.eot');
    src: url('../fnt/GothamProMediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProMediumItalic.woff') format('woff'),
         url('../fnt/GothamProMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'GothamProRegular';
    src: url('../fnt/GothamProRegular.eot');
    src: url('../fnt/GothamProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fnt/GothamProRegular.woff') format('woff'),
         url('../fnt/GothamProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	
h1{font-family: 'GothamProRegular'; font-weight:normal !important; font-size:45px; line-height:61px; color:#29282e;}
h2{color:#949499; font-size:27px; font-weight:normal !important; font-family:'GothamProMedium'; margin-top:60px; margin-bottom:30px;}
h6{color:#949499; font-size:24px; font-weight:normal !important; font-family:'GothamProMedium';}
h3{font-weight:normal !important; font-size:14px; line-height:22px;}
h4{font-weight:normal !important; color:#666666; font-size:14px; line-height:24px; font-family:'GothamProMedium';  }
h5{font-weight:normal !important; font-size:11px; line-height:16x; margin-top:10px;}

.all_page{ width:100%; min-width:990px;}
	.header{ min-height:55px;  background:#fff; padding-top:10px; }
		.cont{padding-left:15px; padding-right:15px; width:960px; margin:0 auto;}
			.one_goriz{ display:inline-block;}
			.wi170{ width:150px; margin-right:5px;}
			.logo{display:table; font-family:'GothamProBold'; color:#02298d;
 font-size:11px; text-decoration:none;}
				.logo span{ display:table-cell; vertical-align:middle; }
					.logo span img{ margin-right:5px;}
			.wi285{ width:275px; margin-right:0px;
 font-family:'GothamProMedium'; margin-top:7px;}
				.wi285 p { font-size:9px; line-height:16px;}
				.grey{ color:#807f7f;}
				.blue{ color:#02298d;}
			.tab{ display:table; width:100%;}
				.ts{ display:table-cell; vertical-align:middle; line-height:normal !important;}
				.mf{ font-family: 'GothamProBold'; font-size:15px !important; color:#29282e; height:29px; }
				.mf1{ font-family: 'GothamProBold'; font-size:16px !important; color:#02298d;
 height:29px; text-decoration:none; background:url(../img/callbak.png) no-repeat left center; padding-left:30px;}
				.mf2{ font-family: 'GothamProBold'; font-size:11px !important; color:#02298d;
 height:29px; text-decoration:none; border: solid #ecebeb 3px; text-align:center;}
			.wi200{ width:180px; margin-left:5px; margin-right:0px;
 font-family:'GothamProMedium'; margin-top:7px;}	
			.wi180{ width:110px; margin-left:0px; margin-right:0px; font-family:'GothamProMedium'; margin-top:7px;}	
	.firstscreen{ padding-top:135px; min-height:500px; background:url(../img/firstboxbkg.jpg) no-repeat center;}
	
		.lsfb{ float:left; min-height:111px; width:650px; background:url(../img/krstr.png) no-repeat right top;}
			.bigfont{ font-size:37px; line-height:55px; font-family: 'GothamProMedium'; color:#fff;}
				.bigfont b{ font-weight:normal !important; color:#8cc540;
}
			.snowul{ display:block;}
				.snowul li{ display:block; margin-top:28px; line-height:24px; font-size:13px; color:#fff; background:url(../img/snow.png) no-repeat left 3px; padding-left:30px; font-family: 'GothamProMedium';}
		.rsfb{ float:right; background:#8cc540;
 padding-top:25px; min-height:330px; width:300px; text-align:center; font-family: 'GothamProMedium'; color:#fff;}
 .rsfb h5 {color: #D0E7B2;}
			.greeninput{ border:none; border-bottom:2px solid #a3d166; color:#fff; font-size:12px; font-family: 'GothamProMedium'; width:190px; margin:0 auto; margin-top:10px; height:30px; line-height:30px; background:none; padding:0px; outline:none;}
				.greeninput::-webkit-input-placeholder {color:#fff; opacity: 1; transition: opacity 0.3s ease;}
				.greeninput::-moz-placeholder          {color:#fff; opacity: 1; transition: opacity 0.3s ease;}/* Firefox 19+ */
				.greeninput:-moz-placeholder           {color:#fff; opacity: 1; transition: opacity 0.3s ease;}/* Firefox 18- */
				.greeninput:-ms-input-placeholder      {color:#fff; opacity: 1; transition: opacity 0.3s ease;}
				.greeninput:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
			.greena{width:190px; margin:0 auto; margin-top:20px; height:30px; line-height:30px; display:block; text-transform:uppercase; border:3px solid #3c5d0f; text-decoration:none; color:#fff; font-size:11px; font-family: 'GothamProBold';}
	.secondscreen{ padding-top:90px;}
		.oneofthree{ width:30%; float:left; color:#666666; font-size:14px; line-height:23px; padding-top:100px; padding-bottom:70px; font-family: 'GothamProMedium'; padding-right:3.3%; margin-top:50px;}
			.star{ background:url(../img/star.png) no-repeat left top;}	
			.cash{ background:url(../img/cash.png) no-repeat left top;}	
			.worker{ background:url(../img/worker.png) no-repeat left top;}	
			.megafon{ background:url(../img/megafon.png) no-repeat left top;}
			.aeroflot{ background:url(../img/aeroflot.png) no-repeat left top;}
			.uralsib{ background:url(../img/uralsib.png) no-repeat left top;}
	.sirdscreen{ padding-top:90px; background:#f3f6f7;}
		.oneofthr{ width:30%; margin-right:5%; background:#fff; padding-top:40px; padding-bottom:40px; float:left;}
		.normarg{ margin-right:0px !important;}
		.ocont{ width:90%; margin:0 auto;}
			.onename{ font-family: 'GothamProMedium'; font-size:22px; color:#666; height:75px; overflow:hidden; margin-bottom:5px; line-height:28px;}
				.cena{ width:60%; float:left; font-size:25px; color:#29282e; font-family: 'GothamProMedium'; }
				.srok{ width:40%; float:right; font-size:25px; color:#949499; font-family: 'GothamProRegular'; text-align:right; }
			.pdf{ color:#133795; font-size:14px; font-family: 'GothamProRegular'; margin-top:20px; margin-bottom:20px; display:block; line-height:22px;}
			.zakaz_proj{ display:block; width:90%; text-align:center; font-size:13px; font-family: 'GothamProBold'; height:40px; text-decoration:none; background:#8cc540; color:#fff; line-height:40px;}
				.hark{color:#29282e; margin-top:45px; margin-bottom:40px;}
					.hark li{ display:block; padding-left:25px; background:url(../img/galka.png) no-repeat left top; color:#29282e; font-size:13px; margin-bottom:15px; font-family: 'GothamProMedium';}
		
		.oneoftwo{ width:49%; margin-right:2%; background:#fff; float:left;}
		.r_s_ont{ float:right; width:250px; padding-top:20px; padding-left:10px; padding-right:10px;}
			.lsrs{ width:60%; float:left; margin-top:20px;}
				.lsrs .cena{ width:100% !important; float:left; font-size:25px !important; color:#29282e; font-family: 'GothamProMedium'; }
				.lsrs .srok{ width:100% !important; float:left !important; font-size:25px !important; color:#949499; font-family: 'GothamProRegular'; text-align:left !important; margin-top:10px !important;}
			.rsrs{ width:40%; float:right; margin-top:15px;}
				.rsrs .pdf{ margin-top:8px;}
		.bigone{ width:100%; background:#fff; padding-top:20px; margin-top:25px;}
			.bigone .inimg{ margin-left:30px;}
			.bigone .r_s_ont{ width:550px;}
				.bigone .r_s_ont .lsrs { width:60%;}
				.bigone .r_s_ont .rsrs { width:40%;}
		.bigone .lsrs .cena{ width:50% !important; float:left; font-size:25px !important; color:#29282e; font-family: 'GothamProMedium'; }
		.bigone .onename{ font-family: 'GothamProMedium'; font-size:20px; color:#666; height:75px; overflow:hidden; margin-bottom:5px; line-height:26px;}
		.bigone .lsrs .srok{ width:50% !important; float:right !important; font-size:25px !important; color:#949499; font-family: 'GothamProRegular'; text-align:left !important; margin-top:0px !important;}
			.bigone .inimg1{ margin-left:0px;}
			.bigone .hark{ margin-top:0px;}
				.bigone .hark li{margin-bottom:10px;}
		.fourscreen{ background:#02298d; padding-top:85px; padding-bottom:85px; min-height:390px; margin-top:5px;}
			.bkg1_and_new_har{min-height:390px; overflow-x:scroll;}
				.onesrc{ width:960px; float:left; margin-right:15px; position:relative; min-height:390px; background:url(../img/bkgblue.png) no-repeat bottom left;}
			
				.bigcont{ width:7800px;}
			.punct_name{ color:#fff; font-size:47px; line-height:63px; font-family:'GothamProRegular';}
				.textblk{ margin-top:40px; padding-left:440px; color:#d0ddfe; font-size:22px; line-height:30px; font-family: 'GothamProMedium';}
				.deco_a{ width:380px; display:block; font-family: 'GothamProBold'; font-size:16px; text-align:center; height:45px; line-height:51px; vertical-align:middle; margin-top:20px; text-decoration:none; border:3px solid #8795bd; color:#fff; text-transform:uppercase;}
				
				.greeninput1{ color:#fff; font-size:16px; font-family: 'GothamProMedium'; width:450px; margin-top:10px; height:50px; background:#002278; padding: 20px 25px; outline:none; resize:none; border:none;}
				.greeninput1::-webkit-input-placeholder {color:#fff; opacity: 1; transition: opacity 0.3s ease;}
				.greeninput1::-moz-placeholder          {color:#fff; opacity: 1; transition: opacity 0.3s ease;}/* Firefox 19+ */
				.greeninput1:-moz-placeholder           {color:#fff; opacity: 1; transition: opacity 0.3s ease;}/* Firefox 18- */
				.greeninput1:-ms-input-placeholder      {color:#fff; opacity: 1; transition: opacity 0.3s ease;}
				.greeninput1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
				.greeninput1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
			.marg-20{ margin-top:15px !important;}
			.bbkg{ /*background:#02298d !important; min-height:390px;*/}
			.fulwi{ padding-left:0px !important; }
			.qwe{ font-size:14px; width:200px; border-bottom-color:#3554a4; margin-right:20px;}
			.na{ float:right; margin-top:5px; text-align:center; background:#8cc540; border-color:#8cc540; color:#fff; font-size:13px; width:240px;}
			
	.fivescreen{ background:#fff; padding-top:85px; padding-bottom:85px;}
	
	.slider{ margin-top:50px;}
		.ls_slide{ width:460px; float:left;}
		.bigfoto{ width:400px; height:300px; border:#f3f6f7 20px solid; margin-bottom:20px;}
		.ls_slide ul li{ display:inline-block;}
		.ls_slide ul li a{ border:1px solid #fff; display:block; margin-right:2px;}
		.act_foto{border:1px solid #8cc540 !important;}
		.rs_slide{ width:500px; float:right; font-size:18px; color:#666666; font-family:'GothamProRegular'; line-height:23px;}
			.rs_slide b{font-family: 'GothamProMedium';}
			.rs_slide span { display:block; margin-bottom:15px;}
			.rs_slide p{ font-size:14px; margin-bottom:20px;}
			.rs_slide span a{ color:#02298d; text-decoration:underline; transition: all0.3s ease;}
			.rs_slide span a:hover{ color:#02298d; text-decoration:none; transition: all0.3s ease;}
		
		.ringring{ display:block; margin-top:45px;}
			.ringring li{ display:inline-block; width:15px; height:16px; margin-right:20px;}
				.ringring li a{width:15px; height:16px; display:block; background:url(../img/nogreenring.png) no-repeat;}
				.active{ background:url(../img/greenring.png) no-repeat !important;}
		.otziv{ margin-top:25px; color:#666666; font-size:13px; margin-bottom:50px;}
			.otziv i{font-family:'GothamProItalic'; line-height:20px;}
		.whois{ margin-top:20px; color:#666666; font-size:13px; line-height:23px; font-family:'GothamProRegular';}
			.whois img{ margin-right:20px; margin-bottom:10px; float:left;}
			.whois b{ margin-top:10px; font-family: 'GothamProMedium'; font-size:14px; line-height:23px; margin-bottom:10px; display:inline-block;}
			.whois p{}
	.sixscreen{background:#f3f6f7; padding-top:85px; padding-bottom:85px;}	
	.pioner{ background:url(../img/pioneer.png) no-repeat left top;}	
	.house{ background:url(../img/house.png) no-repeat left top;}	
	.engener{ background:url(../img/plan.png) no-repeat left top;}
	.pen{ background:url(../img/pen.png) no-repeat left top;}
	.folder{ background:url(../img/folder.png) no-repeat left top;}
	.relat{ position:relative;}
		.rarr{ background:url(../img/r_arr.png) no-repeat right top; height:33px; width:70px; position:absolute; right:5%; top:0px;}
			.rarr span{ display:block; background:#8cc540; width:29px; height:29px; border-radius:29px; text-align:center; color:#fff; font-family: 'GothamProMedium'; line-height:29px; font-size:16px; vertical-align:middle; margin-top:2px; margin-left:20px;}
	
	.onequest{ margin-top:30px; font-size:14px; line-height:23px; font-family: 'GothamProMedium';}
		.onequest a{ display:block; padding:20px 35px; background:#fff; font-family: 'GothamProMedium'; color:#02298d; font-size:16px; text-decoration:none;}
		.otv{ overflow:hidden; height:0px; margin-top:0px;}
		.openotv{  height:auto; margin-top:40px;}

.mapscreen{background:url(../img/map.jpg) no-repeat top center; padding-top:70px; padding-bottom:55px;}	
.whitebkg{ background:#FFF;}
	.comment{ font-size:14px; color:#666666; font-family:'GothamProRegular'; line-height:18px; display:block; width:70%; margin:0 auto; margin-top:20px; text-align:left;}
	.ttel{display:block; width:70%; margin:0 auto; margin-top:60px;}
	.ema1{display:block; width:70%; margin:0 auto; margin-top:15px; font-family:'GothamProRegular'; font-size:19px; color:#29282e; text-align:center;}
	.addr1{display:block; width:70%; margin:0 auto; margin-top:15px; font-family:'GothamProRegular'; font-size:14px; line-height:21px; color:#29282e; text-align:left;}
			.footer{ padding-top:30px; background:#5326d3;}
				.footer .wi170{ background:#fff; padding-top:30px; padding-bottom:25px; margin-top:-30px; padding-left:10px; padding-right:10px; margin-left:-20px;}
				.footer .wi285{width:285px; padding-top:7px; margin-right:100px; margin-top:-2px;}
					.footer .wi285 p{ color:#fff;}
				.footer .wi200{width:180px; margin-left:10px; font-size:12px !important;}
				.footer .mf{ color:#fff;}
				.footer .mf1{ color:#fff;}
